
nav{
 color: darkorange;   
 text-align: center;   
}
main{
  background-image: url(AntiguoEgipto.jpg);
  text-align: left;  
}
footer{
    text-align: left;
}
p{
   text-align:left; 
   color: black;
}
h3{
   text-align: center;
   color: rgb(218, 212, 212); 
}